*{
  box-sizing: border-box;
}
html {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
}
body {
  padding: 20px;
  width: 35rem;
}

header div {
  height: 1.5rem;
  width: 15rem;
  background-color: black;
}

form {
  display: flex;
  flex-direction: column;
}
fieldset, header {
  border: none;
  padding: 10px 0;
  border-bottom: 2px solid red;
}
fieldset:last-child{
  border: none;
}
legend{
  padding: 10px 0;
}
input:not(input[type="submit"]){
  border: 0 none;
  outline: none;
  border-bottom: 1px solid black;
}
/*
label, input:not(input[type="radio"], 
input[type="submit"] .address){
  width: 100%;
  max-width: 100%;
}*/


.gender-group,
.language-group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.gender-group label{
  display: block;
  cursor: pointer;
  width: 50%;
  margin: 0;
  line-height: 2rem;
  border-radius: 5%;
  border: 1px solid black;
  text-align: center;
  background-color: wheat;
}
.language-group label{
  display: block;
  cursor: pointer;
  width: 33%;
  margin: 0;
  line-height: 2rem;
  border-radius: 5%;
  border: 1px solid black;
  text-align: center;
  background-color: wheat;
}
input[type="radio"] {
  display: none;
  margin: 0;
}
input[type="radio"]:checked + label {
  border-bottom: 5px solid red;
}
fieldset{
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
fieldset:not(:last-child) > *{
  flex: 1 0 30rem;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
fieldset:last-child{
  flex-direction: row-reverse;
}
fieldset > div > *{
  display: block;
  flex: 1 0 10rem;
}
.address-group{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}
.address-group input[type="text"]{
  flex: 1 0 80%;
}
.address-group input[type="number"]{
  flex: 1 0 15%;
  margin-left: 5px;
}

input[type="submit"]{
  display: block;
  margin:20px;
  width: 20%;
  height: 2rem;
  background-color: red;
  color: white;
  border-radius: 5%;
}
/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/